.app-title {
  font-size: 20px;
  text-align: center;
}

.inline {
  display: inline-block;
}

.reminder-text-field {
  /*width: 40%;*/
  width: 575px;
  margin: auto;
  border-radius: 0;
}

.add-reminder-btn {
  border-radius: 0;
  position: relative;
  bottom: 1px;
}

.list-container {
  padding: 0;
}

.reminder-list {
  width: 575px;
  margin: auto;
}

.reminder-item {
  width: 100%;
}

.time-string {
  font-size: 10px;
  letter-spacing: 1px;
  display: block;
}

.time-string:first-letter {
  text-transform: uppercase;
}

.cross-sign {
  color: red;
  cursor: pointer;
  position: relative;
  top: 8px;
}
